@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Sora', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.9);
}

.modal-border {
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #505050 0%, rgba(80, 80, 80, 0) 100%);
  border-image-slice: 1;
}

main {
  min-height: calc(100vh - 191px);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.order-gradient-bg {
  background: linear-gradient(0deg, #000 8.49%, rgba(47, 47, 47, 0.00) 99.72%), linear-gradient(294deg, #5AE096 15.89%, #0B7FED 84.39%);
  width: 100%;
  height: 342px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.purchase-gradient-bg {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, #000 70%);

}
.purchase-btn {
  border: 1px solid var(--primary-500p, #00CC7E);
  background: linear-gradient(90deg, rgba(73, 223, 140, 0.50) -1.61%, rgba(73, 223, 140, 0.00) 100%), rgba(47, 47, 47, 0.20);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 0 2px 0 rgba(0, 0, 0, 0.06), 0 0 1px 0 rgba(0, 0, 0, 0.04);

  &:hover {
    background: linear-gradient(90deg, rgba(73, 223, 140, 0.70) -1.61%, rgba(73, 223, 140, 0.10) 100%), rgba(47, 47, 47, 0.30);
    transition: all 0.3s ease-in-out;
    outline: 1px solid rgba(73, 223, 140, 0.50);
  }
}
.outlined-btn {
  border: 1px solid white;

  &:hover {
    background: rgba(255, 255, 255, 0.10);
    transition: all 0.3s ease-in-out;
    outline: 1px solid rgba(255, 255, 255, 0.50);
  }
}
.flat-btn {
  border: none;
  background: transparent;
  
  &:hover {
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.10);
    transition: all 0.3s ease-in-out;
    outline: 1px solid rgba(255, 255, 255, 0.50);
  }
}

.input-field {
  outline: none;
  transition: box-shadow 0.2s, border 0.2s;

  &:hover {
    border: 1.5px solid white;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.08);
  }
  &:focus {
    border: 1.5px solid var(--primary-500p, #00CC7E);
    box-shadow: 0 0 0 2px rgba(0,204,126,0.3);
  }
}
.header-input {
  box-shadow: inset 0px -1px 0px 0px #505050;
  transition: box-shadow 0.2s;
  &::placeholder {
    color: #AAA;
    transition: color 0.2s;
  }
  &:hover {
    box-shadow: inset 0px -1.5px 0px 0px #fff;
  }
  &:hover::placeholder {
    color: #fff;
  }
}

.gradient-text-bg {
  background: var(--Gradients-Mono, linear-gradient(270deg, rgba(37, 37, 37, 0.00) 0%, #252525 100%));
}
.mini-card-bg {
  .img-container {
    background: linear-gradient(90deg, rgba(37, 37, 37, 0.00) 0%, var(--neutral-900n, #252525) 100%), linear-gradient(180deg, var(--pp-300, #70B9FF) 0%, var(--pp-900, #00274D) 100%);
  }
  .mini-card-gradient-bg {
    background: linear-gradient(90deg, #252525 22.92%, #000 100%);
  }
}
.game-gradient-bg {
  .price {
    background: linear-gradient(270deg, rgba(47, 47, 47, 0.00) 0%, #2F2F2F 100%);
  }
  .desc {
    background: linear-gradient(270deg, rgba(37, 37, 37, 0.00) 0%, #252525 100%);
  }
}
.carousel-gradient-bg {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}

@media (max-width: 1280px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 860px) {
  .container {
    max-width: 640px;
    padding: 0 16px;
  }
  .purchase-gradient-bg {
    background: transparent;
  }
}
